/* untuk header*/
.main-nav {
    background-color: #003566;
}
.main-nav .navbar-nav a.nav-link {
    color: #fff;
    font-weight: 600;
}
.main-nav .navbar-nav .nav-link.active,.main-nav .navbar-nav .nav-link:hover {
    color: #ffc300;
}
/* untuk global*/
.main-biru {
    background-color: #003566;
    color: #fff;
}
.main-biru h2 span {
    color: #ffc300;
}
button.btn-warning {
    background-color: #ffc300;
}